@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Hide lightweight-charts open-source logo */
a[href*='tradingview.com'] { display: none !important; }
table tr:last-child td a { display: none !important; }
